body {
  background-color: #929A9F;
}

.header-logo{
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.repos-img{
      width: 100%;
}

.loading{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}